@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove mobile highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Soft border everywhere */
  * {
    @apply border-border;
  }
}
